h2 {
  text-align: center;
  padding: 5%;
}

.lang-choice {
  display: flex;
  justify-content: center;
}

/* In Text Box Section */

.in-box {
  width: 100%;
}

textarea {
  width: 100%;
  height: 150px;
}

.box-down {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
}

span {
  margin-left: auto;
}

.trans-btn {
  margin-top: 3rem;
  width: 100%;
  height: 2.5rem;
}
